/* Estilos gerais */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 80%;
    max-width: 800px;
    text-align: center;
}

h1 {
    color: #333;
    margin-bottom: 20px;
}

/* Estilos para o campo de busca e botão */
.buscar-cpf {
    margin-bottom: 20px;
}

.buscar-cpf label {
    display: block;
    text-align: left;
    margin-bottom: 10px;
    font-weight: bold;
}

.buscar-cpf input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    display: inline-block;
}

.buscar-cpf button {
    margin-top: 30px;
    width: 80px;
    padding: 10px;
    background-color: #ff4d4d;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    display: inline-block;
    margin-left: 10px;
}

.buscar-cpf button:hover {
    background-color: #cc0000;
}